<h1>Stupid Coaching </h1>

<div class="banner">
  <h3><%=params[:question]%></h3>
  <p>-You</p>
</div>

<div class="banner coach">
  <h3><%=@answer%></h3>
  <p>-Your coach</p>
</div>

<%= link_to "Ask again to your coach", ask_path %>