// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner {
  border-left: 8px solid #d6d6d6;
  padding: 1px 7px;
  margin: 15px 15px;
}

.coach {
  background-color: rgb(253, 253, 226);
}